/* @theme toboggan */

@import 'uncover';

section {
  width: 1280px;
  height: 960px;
  font-size: 40px;
  padding: 40px;
}

section.codeline p:last-of-type {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  font-size: .8em;
  font-style: italic;
  font-family: "Consolas";
  opacity: .7;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  font-size: 50px;
  margin-bottom: 60px;
}

pre {
  width: 80%;
}